[submodule "apps/hello-node"]
	path = apps/hello-node
	url = ./apps/hello-node
	ignore = untracked
[submodule "apps/personal-blog-backend"]
	path = apps/personal-blog-backend
	url = ./apps/personal-blog-backend
	ignore = untracked
