apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: database
spec:
  serviceName: "postgres"
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      # DO NOT CHANGE without first backing up data, data my be lost if different pod selected
      nodeSelector:
        kubernetes.io/hostname: {{ inventory_hostname }}
      containers:
        - name: postgres
          image: postgres:18
          ports:
            - containerPort: 5432
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "{{ db_super_user | default('admin')}}"]
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
            - name: POSTGRES_DB
              value: "{{ db_initial_name | default('database') }}"
            - name: POSTGRES_USER
              value: "{{ db_super_user | default('admin')}}"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-auth
                  key: POSTGRES_PASSWORD
            - name: PGDATA
              value: /var/lib/postgresql/pgdata
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql
              subPath: pgdata

        - name: health-reporter
          image: alpine:latest
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          command: ["/bin/sh", "-c"]
          args:
          - |
            apk add --no-cache wget
            while true; do
              payload="{\"service\": \"postgres\", \"status\": \"running\", \"host\": \"$NODE_NAME\"}"
              wget -q --post-data="$payload" http://{{ control_node_host }}:9090/health -O - || true
              sleep 30
            done
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: "local-path" 
        resources:
          requests:
            storage: 5Gi
